@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .submenu-item-active {
    @apply relative text-orange-300 pr-2.5;
  }
  .submenu-item-active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fdba74;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .overlay {
    @apply invisible opacity-0 md:hidden fixed inset-0 bg-black/60 z-10 transition-all duration-500;
  }
  .overlay-visible {
    @apply visible opacity-100;
  }
  .circle {
    @apply hidden md:flex items-center justify-center border rounded-full;
  }
  .circle-lg {
    @apply translate-y-2/4 absolute bottom-0 right-0 left-0 mx-auto w-[203px] h-[203px] border-white/25;
  }
  .circle-md {
    @apply w-[145px] h-[145px] border-white/50;
  }
  .circle-sm {
    @apply w-[95px] h-[95px] border-white/80;
  }
  @media screen and (min-width:768px) {
    html.dark .products {
      background-image: url(../images/products-bg.png);
    }
  
    .products{
      background:linear-gradient(rgba(243, 244, 246,0.65),rgba(243, 244, 244,0.65)),url(../images/products-bg.png);
      background-size: 100%;
      background-repeat: no-repeat;
      /* height: 900px; */
    }
  }
  .categories-img-left {
    background: linear-gradient(rgba(33, 33, 33, 0.4),rgba(33, 33, 33, 0.4)),url(../images/categories/category-left.jpg);
    background-position: center top;
    background-size: cover;
  }
  .categories-img-right {
    background: linear-gradient(rgba(33, 33, 33, 0.4),rgba(33, 33, 33, 0.4)),url(../images/categories/category-right.jpg);
    background-position: center ;
    background-size: cover;
  }
  /* @media screen and (min-width:1400px) {
   .footer-content {
    @apply flex flex-row items-start justify-between mb-10
   }
  }
  @media screen and (max-width:1400px) {
    .footer-content {
      @apply flex flex-col items-center justify-between mb-10
    }
  } */
}
